# created by virtualenv automatically
Lib/
Scripts/
share/
etc/
pyvenv.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

.env

final_stats_data.csv
cleaned_stats_data.csv
complete_ball_by_ball.csv

#django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media